@media screen and (max-width: 800px) {
  body {
    position: relative;
  }

  div#cycler {
    height: 23vh;
  }

  header .top-header {
    height: 50px;
    padding: 0 10px;
  }

  header h1 {
    height: 50px;
  }

  header .location {
    display: none;
  }

  #navbar {
    display: none;
  }

  #logo {
    font-size: 36px;
    line-height: 40px;
  }

  header .side-nav-btn,
  #mobile-menu {
    display: block;
    position: absolute;
    top: 5px;
    right: 8px;
    padding: 5px 7px;
  }

  i.fa.fa-bars {
    display: block;
    font-size: 28px;
    color: lightgrey;
  }

  span.tiny {
    font-size: 23px;
  }

  [class*='entypo-']:before {
    font-size: 50px;
  }
  /*COUNTDOWN*/

  .bottom-header {
    justify-content: center;
  }

  .countdown {
    min-width: 270px;
  }

  #mobile-menu {
    position: fixed;
    background: rgb(0, 26, 51);
    border-radius: 1px;
    z-index: 6;
    display: none;
  }

  /*SECTION*/
  section {
    padding: 11vw 0 4vw;
    margin: -4.5vw auto 0;
  }

  section h3 {
    font-size: 30px;
  }

  #story p,
  #hotel-info .hotel-section {
    width: 100%;
  }

  /*STORY SECTION*/
  #story p {
    font-size: 15px;
    line-height: 20px;
  }

  /*HOTEL SECTION*/
  #hotel-info .flex-row {
    flex-direction: column;
  }

  #hotel-info .hotel-section {
    margin: 10px auto;
    text-align: center;
  }

  .hotel-name {
    font-size: 15px;
  }

  p.hotel-info {
    font-size: 15px;
  }

  /*DETAILS SECTION*/
  #details div.flex-row {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  #details #map {
    width: 90%;
  }

}

@media screen and (max-width: 600px) {
  /*COLLAGE*/
  .collage div {
    width: 50%;
  }
}