@media screen and (max-width: 600px) {
  body {
    /*background: orange;*/
  }

/*  header {
    height: 80px;
  }

  header .top-header {
    padding: 0;
  }*/

  div#cycler {
    height: 23vh;
  }

  #logo {
    font-size: 8.5vw;
    position: absolute;
    top: 4px;
    left: 30px;
  }

  header {
    display: none;
    visibility: hidden;
  }

  #navbar {
    display: none;
  }

  i.fa.fa-bars {
    display: block;
    font-size: 5vw;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  /*COUNTDOWN*/

  .coundtown {
    margin: 0 auto;
  }

  /*STORY SECTION*/
  #story p {
    font-size: 12px;
    line-height: 18px;
  }

  /*COLLAGE*/
  .collage div {
    width: 50%;
  }

  /*HOTEL SECTION*/
  #hotel-info .flex-row {
    flex-direction: column;
  }

  #hotel-info .hotel-section {
    width: 85%;
    margin: 10px auto;
  }

  #hotel-info h4 {
    /*background: yellow;*/
  }

  .hotel-name {
    /*background: orange;*/
    font-size: 15px;
  }

  p.hotel-info {
    /*background: green;*/
    font-size: 12px;
  }

  /*EVENTS SECTION*/
  #events ul {
    max-width: 85%;
  }

  #events ul li {
    margin-bottom: 20px;
  }

  #events ul li.flex-row {
    flex-direction: column;
  }

  #events ul li .event .name,
  #events ul li .time,
  #events ul li .event .details {
    text-align: center;
  }

  #events ul li .event .name {
    font-size: 15px;
  }

  #events ul li .time {
    font-size: 12px;
  }

  #events ul li .event .details {
    font-size: 10px;
  }

  #events ul li .time {
    margin: 0;
  }

}