/*font-family: 'Sacramento', cursive;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Rasa', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Kurale', serif;
font-family: 'Gabriela', serif;*/

@import url(http://weloveiconfonts.com/api/?family=entypo);

html,
body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content-spread {
  justify-content: space-between;
}

.content-center {
  justify-content: center;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.line {
  width: 25px;
  height: 1px;
  background: #cccccc;
  margin: 0 auto;
}

/*HEADER*/

header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

header .top-header {
  font-family: 'Julius Sans One', sans-serif;
  background: rgb(0, 26, 51);
  padding: 0 70px;
  height: 70px;
}

header h1 {
  height: 70px;
  display: table;
}

#logo,
#navbar a {
  color: white;
}

#logo {
  font-size: 3.5vw;
  display: table-cell;
  vertical-align: middle;
}

span.tiny {
  font-size: 2vw;
  vertical-align: middle;
}

#navbar {
  display: table;
  font-size: 1.5vw;
  width: 650px;
  height: 70px;
}

#navbar a {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
}

#navbar a:hover {
  background: rgb(0, 40, 77);
}

header .bottom-header {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5vw;
  background: rgba(13, 13, 13, 0.8);
  color: white;
  height: 40px;
  text-align: right;
  padding: 0 98px;
  line-height: 40px;
}

span.separator {
  font-size: 2vw;
  line-height: 2vw;
}

.rsvp-btn {
  background: #660000;
}


/*SIDE NAV*/

#mobile-menu-btn {
  position: fixed;
  padding: 10px 14px;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 10;
  background: rgb(0, 26, 51);
}

#mobile-menu-btn:hover {
  background: rgb(0, 40, 77);
  cursor: pointer;
}

i.fa.fa-bars {
  color: white;
  font-size: 2.5vw;
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 7;
  top: 0;
  right: 0;
  background: rgb(0, 26, 51);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  font-family: 'Julius Sans One', sans-serif;
  padding: 20px 0 20px 0;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidenav-width {
  width: 250px;
}

.sidenav a:not(.logo) {
  padding: 15px 8px 10px 45px;
}

.sidenav a:not(.closebtn):not(.logo):hover {
  background: rgb(0, 40, 77);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .logo {
  width: 75%;
  margin: 0 auto;
  border-bottom: 1px white solid;
}

.sidenav p {
  font-size: 40px;
  margin: 0 0 5px;
  text-align: left
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}





/*BANNER SECTION*/

div#cycler {
  position: relative;
  padding-top: 30px;
  width: 100%;
}

#cycler img {
  width: 100%;
  position: absolute;
  z-index: 1;
}

#cycler img.active {
  z-index: 3;
}

#cycler .arrow {
  z-index: 4;
  width: 100%;
  position: absolute;
  bottom: 3%;
  text-align: center;
}

i.fa.fa-chevron-circle-down {
  font-size: 4vw;
  color: rgb(196, 194, 194);
  margin: 0 auto;
}

i.fa.fa-chevron-circle-down:hover {
  color: white;
}






/* entypo */

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  color: white;
  font-size: 4vw;
}

.arrow a:hover {
  color: green;
}






/*COUNTDOWN*/

.countdown {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 10px;
  width: 330px;
  align-items: center;
  color: #999999;
  line-height: 0px;
}

.countdown .flex-col {
  width: 50px;
}

.countdown .digits {
  font-size: 25px;
  line-height: 40px;
  margin-right: 7px;
}

.countdown .label {
  font-size: 12px;
}

span.decoration {
  font-size: 2vw;
}

/*SECTION FORMAT*/

section {
  position: relative;
}

.section-container {
  padding: 11vw 0 8vw;
  margin: -4.5vw auto 0;
  width: 80%;
}

section h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 35px;
  /*margin-bottom: 50px;*/
  text-align: center;
  line-height: 35px;
}

section .section-content {
  margin: 50px auto 0;
}

section h4 {
  font-family: 'Kurale', serif;
  font-size: 20px;
}

section p {
  font-family: 'Kurale', serif;
  font-size: 20px;
  line-height: 22px;
  margin: 10px 0;
}

/*STORY SECTION*/

#story p {
  width: 80%;
  text-align: center;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;

}

span.first-letter {
  font-size: 40px;
}

span.italics {
   font-family: 'Julius Sans One', sans-serif;
  font-style: italic;
  font-size: 20px;
}





/*COLLAGE*/

section.collage {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
  width: 100%;
}

.collage div {
  flex: auto;
  /*width: 300px;*/
  width: 25%;
}

.collage div img {
  width: 100%;
  height: auto;
  background: green;
  overflow: hidden;
}





/*HOTEL INFORMATION*/

#hotel-info img.desktop {
  display: block;
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 8px 13px rgba(0,0,0,.25);
}

#hotel-info .hotel-section {
  width: 330px;
}

#hotel-info .hotel-section h4 {
  font-family: 'Julius Sans One', sans-serif;
  color: #cccccc;
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
}



a.hotel-info,
#hotel-info p {
  font-family: 'Kurale', serif;
  text-align: left;
  display: block;
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.hotel-name a:hover,
a.hotel-info:hover {
  color: #005cb3;
}

.hotel-section ul {
  max-width: 318px;
}

.hotel-section ul li {
  margin-bottom: 40px;
  position: relative;
  align-items: center;
  width: 100%;
  height: 390px;
}

#hotel-info .padding {
  padding: 0 8px;
}

.hotel-name a {
  font-family: 'Julius Sans One', sans-serif;
  color: rgb(0, 26, 51);
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.hotel-desktop .hotel-details,
.hotel-mobile .hotel-details {
  display: table;
}

#hotel-info i {
  color: #cccccc;
}

.hotel-desktop .hotel-details i,
.hotel-desktop, .hotel-details p,
.hotel-mobile .hotel-details i,
.hotel-mobile .hotel-details p {
  display: table-cell;
  vertical-align: middle;
}

.hotel-mobile .hotel-details i,
.hotel-desktop .hotel-details i {
  width: 50px;
}

/*.hotel-desktop .address i*/

.hotel-mobile {
  display: none;
}

/*details*/

#details .flex-row { 
  width: 950px;
}

#details .info {
  width: 300px;
  height: 300px;
  text-align: center;
}

#details .info .card {
  margin: 20px 0;
}

#details h4 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #cccccc;
  margin: 10px 0;
}

#details .info p {
  font-family: 'Kurale', serif;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px
  color: rgb(0, 40, 77);
}

#details .fa {
  font-size: 50px;
  color: rgb(0, 40, 77);
}

#details #map {
  height: 400px;
  width: 500px;
  border: 5px #cccccc solid;
}

/*ACTIVITIES*/

#activities .activity {
  /*background: green;*/
  width: 1000px;
  margin: 70px auto;
}

#activities .info {
  width: 650px;
  display: table;

}

#activities h4 a {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: rgb(0, 26, 51);
}

#activities .info p {
  font-size: 15px;
}

#activities .info p a {
  color: rgb(0, 40, 77);
  font-weight: bold;
}

#activities h4 a:hover,
#activities .info p a:hover {
  color: #005cb3;
}

#activities img.desktop {
  width: 318px;
  height: 180px;
  border-radius: 3px;
  box-shadow: 0 8px 13px rgba(0,0,0,.25);
}
/*------ACCORDION------*/


#activities .activities-mobile {
  display: none;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.hotel-mobile button,
.activities-mobile button {
  height: 25vw;
  padding: 0;
  margin: 10px 0 0;
}

.table {
  display: table;
  height: 25vw;
  width: 50vw;
}

.hotel-mobile h5,
.table h4 {
  color: rgb(0, 40, 77);
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.hotel-mobile img,
.accordion img.mobile {
  width: 25vw;
  height: 25vw;
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: relative;
    margin-bottom: 30px;
}

.activities-mobile .panel p,
.hotel-mobile .panel {
  font-size: 15px;
  padding: 0 18px;
  margin-bottom: 40px
}

.panel p a {
  color: rgb(0, 40, 77);
  font-weight: bold;
}

.panel p a:hover {
  color: #005cb3;
}

.panel .directions,
.panel .website {
  width: 50%;
  height: 30px;
  text-align: center;
  background: rgb(0, 26, 51);
  color: white;
  display: table;
}

.directions i,
.website i {
  display: table-cell;
  vertical-align: middle;
}

.panel .directions:hover,
.panel .website:hover {
  background: rgb(0, 40, 77);
  cursor: pointer;
}

.panel .directions {
  position: absolute;
  bottom: 0;
  left: 0;
}

.panel .website {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*------ACCORDION------*/

/*OTHER*/

.blurb {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
}

.blurb p,
#hotel-info .blurb p {
  font-family: 'Kurale', serif;
  font-style: italic;
  font-size: 14px;
  color: #999999;
}

.blurb a {
  color: rgb(0, 40, 77);
  font-weight: bold;
}

.blurb a:hover {
  color: #005cb3;
}

/*SOMETHING*/

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/preloader/preloader.gif) center no-repeat #fff;
}


/*RSVP*/

.wrap.push header {
  display: none;
}


#RSVPifyIFrame {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  overflow: auto;
}
