/*font-family: 'Sacramento', cursive;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Rasa', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Kurale', serif;
font-family: 'Gabriela', serif;*/

@import url(https://weloveiconfonts.com/api/?family=entypo);

html,
body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content-spread {
  justify-content: space-between;
}

.content-center {
  justify-content: center;
  align-items: center;
}

.center {
  margin: 0 auto;
}


/*HEADER*/

header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

header .top-header {
  font-family: 'Julius Sans One', sans-serif;
  background: rgb(0, 26, 51);
  padding: 0 70px;
  height: 70px;
}

header h1 {
  height: 70px;
  display: table;
}

#logo,
#navbar a {
  color: white;
}

#logo {
  font-size: 3.5vw;
  display: table-cell;
  vertical-align: middle;
}

span.tiny {
  font-size: 2vw;
  vertical-align: middle;
}

#navbar {
  display: table;
  font-size: 1.5vw;
  width: 650px;
  height: 70px;
}

#navbar a {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
}

#navbar a:hover {
  background: rgb(0, 40, 77);
}

i.fa.fa-bars {
  color: white;
  font-size: 2.5vw;
  display: none;
}

header .bottom-header {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5vw;
  background: rgba(13, 13, 13, 0.8);
  color: white;
  height: 40px;
  text-align: right;
  padding: 0 98px;
  line-height: 40px;
}

span.separator {
  font-size: 2vw;
  line-height: 2vw;
}


/*BANNER SECTION*/

div#cycler {
  position: relative;
  padding-top: 30px;
  width: 100%;
}

#cycler img {
  width: 100%;
  position: absolute;
  z-index: 1;
}

#cycler img.active {
  z-index: 3;
}

#cycler .arrow {
  z-index: 4;
  width: 100%;
  position: absolute;
  bottom: 3%;
  text-align: center;
}

i.fa.fa-chevron-circle-down {
  font-size: 4vw;
  color: rgb(196, 194, 194);
  margin: 0 auto;
}

i.fa.fa-chevron-circle-down:hover {
  color: white;
}


/* entypo */

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  color: white;
  font-size: 4vw;
}

.arrow a:hover {
  color: green;
}


/*COUNTDOWN*/

.countdown {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 10px;
  width: 330px;
  /*margin: 0 auto 70px;*/
  align-items: center;
  color: #999999;
  /*background: green;*/
  line-height: 0px;
}

.countdown .flex-col {
  width: 50px;
}

.countdown .digits {
  font-size: 25px;
  line-height: 40px;
  margin-right: 7px;
  /*font-weight: bold;*/
}

.countdown .label {
  font-size: 12px;
  /*font-style: italic;*/
}

span.decoration {
  font-size: 2vw;
}



/*SECTION FORMAT*/

section {
  position: relative;
}

.section-container {
  padding: 11vw 0 4vw;
  margin: -4.5vw auto 0;
  width: 80%;
}

section h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 35px;
}

section h4 {
  font-family: 'Kurale', serif;
  font-size: 20px;
}

section p {
  font-family: 'Kurale', serif;
  font-size: 20px;
  line-height: 22px;
  margin: 10px 0;
}

.bottom-border {
  border-bottom: 1px #cccccc solid;
}


/*STORY SECTION*/

#story p {
  width: 90%;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}


/*COLLAGE*/

section.collage {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
  width: 100%;
}

.collage div { 
  flex: auto; 
  /*width: 300px;*/
  width: 25%;  
}

.collage div img { 
  width: 100%; 
  height: auto; 
}

/*HOTEL INFORMATION*/

#hotel-info .hotel-section {
  width: 330px;
}

#hotel-info h4 {
  color: #cccccc;
  text-align: center;
  margin-bottom: 20px;  
}

.hotel-section ul li {
  margin-bottom: 20px;
  position: relative;
}

.hotel-name {
  font-family: 'Kurale', serif;
  color: #333333;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

p.hotel-info {
  font-size: 15px;
  line-height: 20px;
}

a.hotel-link {
  position: absolute;
  top: 3px;
  right: 0;
  color: rgb(0, 40, 77);
}


/*EVENTS*/

#events ul {
  max-width: 60%;
  margin: 0 auto;
}

#events ul li {
  margin-bottom: 3vw;
}

#events ul li .time {
  color: #b3b3b3;
  font-family: 'Kurale', serif;
  font-size: 17px;
  text-align: right;
  flex: 1;
  margin: 0.5vw 5vw 0 0;
}

#events ul li .event {
  flex: 2;
}

#events ul li .event .name {
  padding: 0;
}

#events ul li .event .details {
  font-size: 15px;
  line-height: 17px;
}